#toggle-mode {
    align-items: center;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#full-component {
    display: flex;
    justify-content: center;
}

.container-sm {
    padding: 0;
    margin: 3rem auto 0 auto;
    border-radius: 8px;
    overflow: hidden;
    width: 22rem;
    background: linear-gradient(45deg, rgba(255, 0, 212, 0.7) 40%, rgba(255, 162, 0, 0.7));
}

#display {
    padding: 5rem 0;
}

#keyboard {
    padding: 0 0.75rem;
    background-color: white;
}

#keyboard ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.btn {
    background-color: white;
    color: black;
    text-align: center;
    padding: 1rem;
    border: 0.01px solid rgb(249, 246, 246);
    font-size: 1.5rem;
}

.btn:hover {
    background-color: white;
    border: 1px solid pink;
}

#keyboard ul div:nth-of-type(5) li:nth-of-type(4) {
    background: linear-gradient(45deg, rgb(255, 0, 212), rgb(255, 162, 0));
    color: white;
}

#keyboard ul div:nth-of-type(1) {
    background-color: rgb(249, 249, 249);
}

#keyboard ul div:nth-of-type(1) li:nth-of-type(1) {
    color: rgb(245, 35, 98);
}

#keyboard ul div:nth-of-type(1) li,
#keyboard ul div:nth-of-type(2) li:nth-of-type(1),
#keyboard ul div:nth-of-type(3) li:nth-of-type(1),
#keyboard ul div:nth-of-type(4) li:nth-of-type(1) {
    background-color: rgb(251, 244, 244);
    border: 1px solid rgb(251, 244, 244);
}

#keyboard ul div:nth-of-type(1) li:hover,
#keyboard ul div:nth-of-type(2) li:nth-of-type(1):hover,
#keyboard ul div:nth-of-type(3) li:nth-of-type(1):hover,
#keyboard ul div:nth-of-type(4) li:nth-of-type(1):hover {
    border: 1px solid pink;
}

.dark-mode {
    background-color: black;
    color: white;
}


@media (max-width: 720px) {
    .container-sm {
        margin: 1rem auto 0 auto;
        height: 90%;
    }

    #display {
        height: 30%;
    }

    #keyboard {
        height: 70%;
    }

    #keyboard ul {
        height: 100%;
    }

    .btn {
        font-size: 2rem;
    }
}