body{
    background-color: rgb(254, 252, 252);
}

main{
    margin-top: 4rem
}

#toggle-mode{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#full-component {
    display: flex;
    justify-content: center;
}

.container-sm {
    padding: 0;
    margin: 1rem auto 0 auto;
    border-radius: 8px;
    overflow: hidden;
    width: 22rem;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    background: linear-gradient(45deg, rgba(255, 0, 212, 0.7) 40%, rgba(255, 162, 0, 0.7));
    transition: all 1s ease-in-out;
}

#display {
    padding: 5rem 0;
    height: 40px;
    word-wrap: break-word;
    word-break: break-all;
}

.previous-operand{
    font-size: 1.1rem;
    margin-right: 2rem;
    margin-top: -2rem;
    display: flex;
    justify-content: end;
}

.current-operand{
    font-size: 2rem;
    margin: 1rem 1rem 2rem 0;
    display: flex;
    justify-content: end;
}

#keyboard {
    padding: 0 0.75rem;
    background-color: white;
}

#keyboard ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.btn {
    background-color: white;
    color: black;
    text-align: center;
    padding: 1rem;
    border: 0.01px solid rgb(249, 246, 246);
    font-size: 1.5rem;
}

.btn:hover {
    background-color: white;
    border: 1px solid pink;
}

#keyboard ul div:nth-of-type(5) li:nth-of-type(4) {
    background: linear-gradient(45deg, rgb(255, 0, 212), rgb(255, 162, 0));
    color: white;
}

#keyboard ul div:nth-of-type(1) {
    background-color: rgb(249, 249, 249);
}

#keyboard ul div:nth-of-type(1) li:nth-of-type(1) {
    color: rgb(245, 35, 98);
}

.diff-color{
    background-color: rgb(251, 244, 244);
    border: 1px solid rgb(251, 244, 244);
}

.diff-color:hover{
    border: 1px solid pink;
    background-color: rgb(251, 244, 244);
}

.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode-btn {
    background-color: rgb(35, 35, 35);
    color: white;
    border: 1px solid rgb(35, 35, 35);
}

.dark-mode-btn:hover{
    background-color: rgb(35, 35, 35);
    color: white;
    border: 1px solid rgb(78, 77, 77);
}

.dark-mode-keyboard {
    transform: rotateY(-180deg);
}

.dark-mode-container {
    transform: rotateY(180deg);
}

.dark-mode-display {
    color: black;
    transform: rotateY(-180deg);
}

.diff-color-dark-mode-btn{
    background-color: rgb(30, 30, 30);
    color: white;
    border: 1px solid rgb(27, 26, 26);
}

.diff-color-dark-mode-btn:hover{
    background-color: rgb(27, 27, 27);
    color: white;
    border: 1px solid rgb(78, 77, 77);
}

@media (max-width: 720px) {
    main{
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
    
    .container-sm {
        margin: 1rem auto 0 auto;
        height: 90%;
<<<<<<< HEAD
    }
=======
    } 
>>>>>>> 48db4a327a6e48e34978bcf085d6e07391946d01

    .btn {
        font-size: 2rem;
    }
}
